doctype html
html(lang="en")
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/logic.js')
  body
    #container
    - if (xbox) {
        .section
          span(id="currentVol") R
          input(type="range", id="sliderR", value="0" min="0", max="255", onchange="sliderChange()")
          span(id="currentVol") G
          input(type="range", id="sliderG", value="0", min="0", max="255", onchange="sliderChange()")
          span(id="currentVol") B
          input(type="range", id="sliderB", value="0", min="0", max="255", onchange="sliderChange()")
        .section
          - var status = xbox.isOn() ? "ON" : "OFF";
          p XBox: #{status}
          p last seen: #{xbox.getLastSeen()}          
          p device type: #{xbox.getDeviceType()}          
          p location: #{xbox.getLocation()}          
          - var cc = xbox.getCurrentColor(); 
          - var styleC = 'background-color:rgb(' + cc.r + ',' + cc.g + ',' + cc.b + ')';
          p 
            span(style=styleC) current: #{cc.r} / #{cc.g} / #{cc.b}
          - var tc = xbox.getTargetColor(); 
          - var styleT = 'background-color:rgb(' + tc.r + ',' + tc.g + ',' + tc.b + ')';
          p
            span(style=styleT) target: #{tc.r} / #{tc.g} / #{tc.b}
    - } 
  script(type='text/javascript').
    $(function() {
      makeTiles();
    });
